body {
    font-family: "Inter", "Noto Sans SC", sans-serif;
}

:root {
    --friend-card-bg: #ffffff;
    --friend-card-border: #e0e0e0;
}

.dark {
    --friend-card-bg: #0f172a;
    --friend-card-border: #1f2937;
}

code, kbd, samp, pre {
    font-family: SFMono-Regular, "SF Mono", "JetBrains Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code.nextra-code {
    font-size: 1em;
}

.friends-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.friend-card {
    display: flex;
    align-items: center;
    background-color: var(--friend-card-bg);
    padding: 16px;
    border-radius: 8px;
    border: 2px solid var(--friend-card-border);
}

.friend-avatar {
    margin: 0 16px 0 0;
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.friend-card-content {
    flex-grow: 1;
}

.friend-card h3 {
    margin-top: 0;
}

.friend-card p {
    margin-bottom: 0;
}
